<%= form_for(@product) do |f| %>

  <div class = "field">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>
  </div>

  <div class = "field">
    <p><%= f.label :description %></p>
    <p><%= f.text_area :description %></p>
  </div>

  <div class = "field">
    <p><%= f.label :price_in_cents %></p>
    <p><%= f.number_field :price_in_cents %></p>
  </div>

  <div class = "actions">
    <%= f.submit %>
  </div>
  
<% end %>